{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ tipo }} Aluno - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3>{{ tipo }} Aluno</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.instance.foto %}
                        <div class="mb-3">
                            <p>Foto atual:</p>
                            <img src="{{ form.instance.foto.url }}" alt="Foto de {{ form.instance.nome_completo }}" class="img-fluid rounded" style="max-height: 150px;">
                        </div>
                    {% endif %}

                    {{ form|crispy }}
                    <div class="mt-3">
                        <button type="submit" class="btn btn-success">{{ tipo }}</button>
                        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}